.twoTopPartsOfHeartShape {
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: auto;
}

.bottomPartOfHeartShape {
    width: fit-content;
    margin: auto;
}

.totalHeartShape{
    background-color: #22e380;
    background-color: #81fbb8;
    background-color: #C3B1E1;
}

.head{
    background-color: #C3B1E1;
}

/* in index.css staat de achtergrondkleur van de totale body */

